# 基础网络功能
CONFIG_PACKAGE_luci-app-firewall=y
CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_luci-app-ddns=y
CONFIG_PACKAGE_luci-app-arpbind=y
CONFIG_PACKAGE_luci-app-autoreboot=y
CONFIG_PACKAGE_luci-app-wrtbwmon=y

# USB 支持
CONFIG_PACKAGE_kmod-usb-core=y
CONFIG_PACKAGE_kmod-usb2=y
CONFIG_PACKAGE_kmod-usb3=y
CONFIG_PACKAGE_kmod-usb-xhci-hcd=y
CONFIG_PACKAGE_kmod-usb-storage=y # 如果你用 U 盘挂载
CONFIG_PACKAGE_kmod-usb-printer=y # USB 打印机支持
CONFIG_PACKAGE_kmod-cfg80211=y
CONFIG_PACKAGE_kmod-iwlwifi=y
CONFIG_PACKAGE_kmod-mac80211=y
CONFIG_PACKAGE_iwlwifi-firmware-iwl7260=y
CONFIG_PACKAGE_iwlwifi-firmware-iwl9260=y
CONFIG_PACKAGE_r8152-firmware=y
CONFIG_PACKAGE_kmod-mt76=y
CONFIG_PACKAGE_kmod-mt76-connac=y
CONFIG_PACKAGE_kmod-mt76-core=y
CONFIG_PACKAGE_kmod-mt76x2u=y
CONFIG_PACKAGE_kmod-mt76-usb=y    # MT7921U 无线 USB 网卡驱动
CONFIG_PACKAGE_kmod-mt7921u=y     # MT7921U 无线 USB 网卡驱动
CONFIG_PACKAGE_kmod-mt7921-common=y        # MT7921 系列通用驱动模块 
CONFIG_PACKAGE_kmod-mt7921-firmware=y      # MT7921 固件（Wi-Fi 功能必需） 
CONFIG_PACKAGE_mt7921bt-firmware=y       # 蓝牙固件（仅当需要蓝牙时启用）

# PassWall 科学上网
CONFIG_PACKAGE_luci-app-passwall=y
CONFIG_PACKAGE_luci-app-passwall_Iptables_Transparent_Proxy=y
CONFIG_PACKAGE_luci-app-passwall_Nftables_Transparent_Proxy=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Brook=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Hysteria=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_NaiveProxy=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Shadowsocks_Rust_Client=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Shadowsocks_Rust_Server=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_ShadowsocksR_Libev_Server=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Trojan_GO=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_tuic_client=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_V2ray_Geodata=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Xray_Plugin=y

# theme
CONFIG_PACKAGE_luci-theme-argon=y

# 内网穿透
CONFIG_PACKAGE_luci-app-frpc=y

# SMB 文件共享
CONFIG_PACKAGE_luci-app-samba4=y

# Web 文件浏览器
CONFIG_PACKAGE_luci-app-filebrowser=y

# 其他实用工具
CONFIG_PACKAGE_luci-app-commands=y
CONFIG_PACKAGE_luci-app-filetransfer=y
CONFIG_PACKAGE_luci-app-ttyd=y
CONFIG_PACKAGE_luci-app-ramfree=y

# Software
CONFIG_PACKAGE_hostapd-full=y
CONFIG_PACKAGE_unzip=y
CONFIG_PACKAGE_usbutils=y
CONFIG_PACKAGE_gzip=y
